<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css" type="text/css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.js"></script>
        <script src="js/angular.min.js"></script>
        <script src="js/tablesort.min.js"></script>
        <script src="js/sample.js"></script>
        
        
        <style>
            .pusher{
                padding-top: 60px;
            }
        </style>
    </head>
   
    <body ng-app="myApp">
<!--
        --------------------------------------------------------------------------------------------------------------------------------------
                                                        MENU AND SIDEBAR
        --------------------------------------------------------------------------------------------------------------------------------------
-->
        <div class="ui sidebar vertical left inverted menu">
            <a href="#" class="item">Books</a>
            <a href="#" class="item">Book category</a>
            <a href="#" class="item">Circulation history</a>
            <a href="#" class="item">Ciruculation Setting</a>
            <a href="#" class="item">Requested Books</a>
        </div>
        
        <div class="ui basic icon top fixed menu">
            <a id="toggle" class="item">
                <i class="sidebar icon"></i>
                Menu
            </a>
        </div>
<!--
        ----------------------------------------------------------------------------------------------------------------------------------------
                                                        END OF SIDEBAR MENU
        ----------------------------------------------------------------------------------------------------------------------------------------
-->
        <div class="pusher">
            <div class="ui container" ng-controller="books">
            <h2 class="ui header">Book Details</h2>
                <div class="ui divider"></div>
                    <button class="ui primary button" id="add"><i class="plus icon"></i>Add New</button>
                    <div class="ui right floated teal buttons">
                      <div class="ui button">Export</div>
                      <div class="ui floating dropdown icon button" id="export">
                        <i class="upload icon"></i>
                        <div class="menu">
                          <div class="item"><i class="External icon"></i> Excel</div>
                          <div class="item"><i class="mail outline icon"></i> Mail</div>
                          <div class="item"><i class="file icon"></i>Csv</div>
                        </div>
                      </div>
                    </div>
<!--
        ----------------------------------------------------------------------------------------------------------------------------------------
                                                                DATATABLE
        ----------------------------------------------------------------------------------------------------------------------------------------
-->
                    <table class="ui sortable celled inverted table" id="table">
                      <thead>
                        <tr>
                          <th ng-repeat="(header, value) in names[0]">{{ header }}</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <tr ng-repeat="row in names | filter:searchText">
                          <td ng-repeat="cell in row">{{ cell }}</td>
                        </tr>
                      </tbody>
                    </table>
<!--
        ----------------------------------------------------------------------------------------------------------------------------------------
                                                            End of DATATABLE
        ----------------------------------------------------------------------------------------------------------------------------------------
-->
            </div>   
        </div>
<!--
        ----------------------------------------------------------------------------------------------------------------------------------------
                                                                Modal (ADD NEW)
        ----------------------------------------------------------------------------------------------------------------------------------------
-->
        <div class="ui modal" ng-controller="books">
            <i class="close icon"></i>
            <div class="header">
                Add Books
            </div>
            
            <div class="content">
                <div class="ui grid">
                    <div class="eight wide column" ng-repeat="(header, value) in names[0]">
                        <div class="ui fluid input">
                          <input type="text" id="{{ header }}" placeholder="{{ header }}">
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="actions">
                <div class="actions">
                    <div class="ui red cancel button">
                      <i class="remove icon"></i>
                      Cancel
                    </div>
                    <div class="ui green approve button">
                      <i class="checkmark icon"></i>
                      Save
                    </div>
                  </div>
            </div>
        </div>
        
<!--
        ------------------------------------------------------------------------------------------------------------------------------------------
                                                                    END MODAL
        ------------------------------------------------------------------------------------------------------------------------------------------
-->

        <script>
            $('#toggle').click(function(){
                $('.ui.sidebar').sidebar('toggle');
            });
            
            $('#add').click(function(){
               $('.ui.modal').modal("show");
            });
            
            $('#export').click(function(){
               $('.ui.floating.dropdown.icon.button').dropdown(); 
            });
            
            $('table').tablesort();
        </script>
        
        
    </body>
</html>